<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{shop.url}}">
        {%- if settings.logo != blank -%}
          <img
            src="{{settings.logo | image_url}}"
            alt=""
            width="50"
            height="50"
            loading="lazy">
        {%- else -%}
          {{ shop.name }}
        {%- endif -%}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">


        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          {% for link in section.settings.menu_id.links %}
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{link.url}}">{{ link.title }}</a>


              {%- if link.links.size > 0 -%}
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{ link.title }}
                  </a>
                  <ul class="dropdown-menu">
                    {% for child in link.links %}
                      <li>
                        <a class="dropdown-item" href="{{child.url}}">{{ child.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {%- endif -%}


            </li>
          {% endfor %}


        </ul>


        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>


{% schema %}
  {
    "name": "Header Name",
    "class": "header class",
    "settings": [
      {
        "type": "link_list",
        "id": "menu_id",
        "label": "Select Menu Name"
      }
    ]
  }
{% endschema %}